<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header fundocard">
                Login:
            </div>
            <div class="card-block">
                <div *ngIf="label" class="alert alert-danger" role="alert">
                    <strong>Erro:</strong> {{label}}
                </div>

                <label for="nome" class="control-label">Usuário:</label>
                <input type="text" [(ngModel)]="usuario.nome" class="form-control" id="nome" placeholder="Usuário">
                <label for="usenha" class="control-label">Senha:</label>
                <input type="password" [(ngModel)]="usuario.senha" class="form-control" id="usenha" placeholder="senha">
                <br>
                <button type="button" (click)="login()" class="btn  btn-secure">Login</button>
            </div>
        </div>

    </div>

</div>