<div class="card">
    <div class="card-header">
        Detalhes do Cliente:
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id do Cliente:{{cliente.id}}</li>
        <li class="list-group-item">Nome do Cliente: {{cliente.nome}}</li>
        <li class="list-group-item">Email do Cliente: {{cliente.email}}</li>
    </ul>

    <div class="card-block">
        <button type="button" [routerLink]="['editar']" class="btn  btn-secure">Alterar</button>
        <button type="button" (click)="excluiCliente()" class="btn  btn-secure">Excluir</button>
    </div>

</div>