<div class="row">
    <div class="col-12">
        <div class="card" style="background-color: #90B6D9">
            <img class="card-img-top" style="height: 500px; background-color: #006699" [src]="seguro" alt="SeguridApp - App da Seguridade">
            <div class="card-block">
                <p class="card-text">O melhor aplicativo para gerenciar sua carteira de clientes.</p>
            </div>
            <div class="card-img-overlay">
                <h4 class="card-title" style="color: white"> SeguridApp - App da Seguridade</h4>
            </div>
        </div>
    </div>

</div>