<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Lista de Clientes:
            </div>
            <a class="linknav lista" href="" *ngFor="let cliente of clientes" onclick="return false;">
                <li class="list-group-item" [routerLink]="[cliente.id]" routerLinkActive="active">
                    Id:{{cliente.id}} - Nome: {{cliente.nome}}
                </li>
            </a>
        </div>

    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>