<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" [(ngModel)]="id" class="form-control" placeholder="Pesquisar por CPF">
            <span class="input-group-btn">
                <button class="btn btn-secure" (click)="listarClienteId()" type="button">Pesquisar</button>
            </span>

        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Lista de Clientes:
            </div>
            <a class="linknav lista list-group-item" [routerLink]="[cliente.id]" routerLinkActive="active" *ngFor="let cliente of clientes">
                CPF: {{cliente.id}} - Nome: {{cliente.nome}}
            </a>
            <div class="card-block">
                <button type="button" [routerLink]="['novo']" class="btn  btn-secure">Incluir</button>
                <button type="button" (click)="listarCliente()" class="btn  btn-secure">Listar</button>
            </div>

            <div class="card-block">
                <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>